.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--navbar-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navbar-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.navbar-link {
  margin-left: 10px;
  cursor: pointer;
}

.navbar-button {
  padding: 8px 16px;
  width: 80px;
  background-color: var(--navbar-button-background-color);
  color: var(--navbar-button-color);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.navbar-mobile {
  display: none;
}

.navbar-mobile-left {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar-left,
  .navbar-right {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
  }

  .navbar-mobile-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--navbar-mobile-menu-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
